@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-grid {
  position: relative;
  overflow: hidden;
}

.hero-grid:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
      0deg,
      transparent 98%,
      rgba(100, 100, 100, 0.1) 1%
    ),
    linear-gradient(90deg, transparent 98%, rgba(100, 100, 100, 0.1) 1%);
  background-size: 100px 100px;
  box-shadow: inset 0 0 500px 100px #18181b;
}
